/*
==================================================
Tactical Heritage
style.css

Version: 1.0
Purpose: Global Styles
==================================================
*/

:root{
    --bg-primary:#0B0B0B;
    --bg-secondary:#111111;

    --gold:#C8A25A;

    --white:#F5F5F5;
    --text-muted:#A7A7A7;

    --container-width:1200px;

    --transition:0.3s ease;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--bg-primary);
    color:var(--white);
    font-family:'Inter',sans-serif;
    line-height:1.7;
    overflow-x:hidden;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

.container{
    width:90%;
    max-width:var(--container-width);
    margin:0 auto;
}

.section{
    padding:100px 0;
}

.section-title{
    font-size:3rem;
    text-transform:uppercase;
    margin-bottom:1rem;
    letter-spacing:2px;
}

.section-subtitle{
    color:var(--text-muted);
    max-width:700px;
    margin-bottom:3rem;
}

.gold{
    color:var(--gold);
}